# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = vietnammovies.settings

[scrapyd]
application = herokuify_scrapyd.app.application

[deploy]
#url = http://localhost:6800/
url = https://vietnammovies.herokuapp.com/
project = vietnammovies

